@import "tailwindcss";

:root {
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  background-color: #111827; /* bg-gray-900 */
  height: 100%;
  overscroll-behavior-y: none;
}